body {
  margin: 5;
  min-height: 100vh;
  background-color:darkolivegreen;
  background-attachment: fixed; 
}

.navbar {
  display: flex;               
  justify-content: space-between; 
  align-items: center;        
  padding: 20px 30px;     
  border-radius: 20px;     
  background-color:antiquewhite;   
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.nav-logo {
  display: flex;
  color:darkolivegreen;
  font-weight: 900;
}

.nav-links {
  list-style: none;
  display: flex;            
  gap: 20px;                  
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;   
  border-radius: 20px;  
  color:dimgrey;                 
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  background-color: rgb(236, 218, 195);
  border-radius: 20px;
  border: 1px;
  padding: 5px;
}


.btn-kontakt {
  text-decoration: none;
  background-color:darkolivegreen;  
  color:white;
  padding: 10px 20px;
  border-radius: 20px;          
  transition: 0.6s;            
}

.btn-kontakt:hover {
  background-color: rgb(46, 58, 24);  
}

.box {
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 15px;
  margin-top: 8px;
  font-family: "Montserrat", sans-serif;
  color: darkolivegreen;
  display: flex;
  flex-direction: column;
;
}









details {      
  flex-direction: column;          
  align-items: center;     
  padding: 15px;     
  border-radius: 20px; 
  margin: 8px auto;    
  background-color:antiquewhite;   
  font-family: "Montserrat", sans-serif;
  color: darkolivegreen;
  font-optical-sizing: auto;
  }

summary {
  color: darkolivegreen;
  flex-direction: column;         
  }


@media (max-width: 650px) {
  .navbar {
    flex-direction: column; 
    gap: 20px;              
    padding: 20px;          
  }

  .nav-links {
    flex-direction: column; 
    margin-bottom: 4px;
    align-items: center;    
    gap: 15px;
  }

  .btn-kontakt {
  text-decoration: none;
  background-color:darkolivegreen;   
  color: white;
  padding: 10px 20px;
  border-radius: 20px;          
  transition: 0.6s;          
  }

  .nav-logo {
  display: flex;
  color:darkolivegreen;
  font-weight: 900;
  font-size: 20px;
  }

}